@tailwind base;
@tailwind components;
@tailwind utilities;



@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap');


@layer components {
    .responsive-section {
        @apply min-h-screen max-w-sm sm:max-w-screen-sm lg:max-w-screen-lg 2k:max-w-screen-2k;
    }
    .responsive-box {
        @apply w-[24rem] sm:w-[46rem] lg:w-[46rem] 2k:w-[60rem];
    }


    .responsive-text-xs{
        @apply text-xs sm:text-base lg:text-base 2k:text-2xl
    }
    .responsive-text-sm {
        @apply text-base sm:text-lg lg:text-lg 2k:text-2xl
    }
    .responsive-text-md {
        @apply text-xl sm:text-2xl lg:text-2xl 2k:text-4xl
    }
    .responsive-text-lg {
        @apply text-2xl sm:text-3xl lg:text-3xl 2k:text-5xl
    }
    .responsive-text-xl {
        @apply text-3xl sm:text-4xl lg:text-4xl 2k:text-6xl
    }
    .responsive-text-2xl {
        @apply text-4xl sm:text-5xl lg:text-5xl 2k:text-7xl
    }
    .responsive-text-3xl {
        @apply text-5xl sm:text-6xl lg:text-6xl 2k:text-8xl
    }
    .responsive-text-8xl {
        @apply text-5xl sm:text-8xl lg:text-8xl 2k:text-9xl
    }

    .center-column {
        @apply flex flex-col justify-center items-center;
    }
}


:root {
    /* Amount text */
    --color-A: #1f1f1f;
    --color-B: #121212;
    /*color*/
    --color-C: rgb(245, 245, 245);
    /*color*/
    --font-A: roboto, monospace;
    --font-B: 'DM Mono', monospace;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.font-A {
    font-family: var(--font-A);
}

.font-B {
    font-family: var(--font-B);
}

.color-A {
    color: var(--color-A);
}

.color-B {
    color: var(--color-B);
}

.color-C {
    color: var(--color-C);
}

.bg-A {
    background-color: var(--color-A);
}


.drag-none {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-drag: none;
}






.text-border {
    text-shadow: -1px 1px 0 #000,
        1px 1px 0 #000,
        1px -1px 0 #000,
        -1px -1px 0 #000;

}