@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap');

:root {
    /* Amount text */
    --color-A: #1f1f1f;
    --color-B: #121212;
    /*color*/
    --color-C: rgb(245, 245, 245);
    /*color*/
    --font-A: roboto, monospace;
    --font-B: 'DM Mono', monospace;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.font-A {
    font-family: var(--font-A);
}

.font-B {
    font-family: var(--font-B);
}

.color-A {
    color: var(--color-A);
}

.color-B {
    color: var(--color-B);
}

.color-C {
    color: var(--color-C);
}

.bg-A {
    background-color: var(--color-A);
}


.drag-none {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-drag: none;
}






.text-border {
    text-shadow: -1px 1px 0 #000,
        1px 1px 0 #000,
        1px -1px 0 #000,
        -1px -1px 0 #000;

}