@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap');

:root {
    /* Amount text */
    --color-A: #1f1f1f;
    --color-B: #121212;
    /*color*/
    --color-C: rgb(245, 245, 245);
    /*color*/
    --font-A: roboto, monospace;
    --font-B: 'DM Mono', monospace;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-A {
    font-family: var(--font-A);
}

.font-B {
    font-family: var(--font-B);
}

.color-A {
    color: var(--color-A);
}

.color-B {
    color: var(--color-B);
}

.color-C {
    color: var(--color-C);
}

.bg-A {
    background-color: var(--color-A);
}


.drag-none {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-drag: none;
}




.custom-bg {
    transition-property: background-color;
    transition-duration: 0.3s;
    transition-timing-function: linear;

}

.custom-gradient {
    transition-duration: 0.3s;
    transition-timing-function: linear;
    opacity: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(17, 17, 17, 1) 26%, rgba(82, 82, 82, 1) 45%, rgba(210, 210, 210, 1) 67%, rgba(255, 255, 255, 1) 83%);
}

.line-width {
    width: 0%
}

.animate-chip {
    transition-property: transform;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    opacity: 1;
    transform: translateY(0);
}



@keyframes lineExpand {
    from {
        width: 0%
    }

    to {
        width: 90%
    }
}




.text-border {
    text-shadow: -1px 1px 0 #000,
        1px 1px 0 #000,
        1px -1px 0 #000,
        -1px -1px 0 #000;

}

line {
    stroke-width: 10px;
    stroke-linecap: round;
    fill: transparent;
}

@keyframes pulse {
    10% {
        transform: scale(1);
        color: black;
    }

    30% {
        transform: scale(2);
        color: red;
    }

    50% {
        transform: scale(1);
        color: black;

    }
}












.animate-A {
    --tw-text-opacity: 1;
    color: rgb(127 29 29 / var(--tw-text-opacity));
}

.animate-B {
    --tw-text-opacity: 1;
    color: rgb(76 29 149 / var(--tw-text-opacity));
}

.animate-C {
    --tw-text-opacity: 1;
    color: rgb(22 78 99 / var(--tw-text-opacity));
}

@keyframes letterFocus {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-0.5rem);
    }

    100% {
        transform: translateY(0);
    }
}

.waviy {
    position: relative;
}

.waviy span {
    position: relative;
    display: inline-block;
    font-size: 40px;
    color: #fff;
    text-transform: uppercase;
    animation: flip 2s infinite;
    animation-delay: calc(.2s * var(--i))
}

@keyframes flip {

    0%,
    80% {
        transform: rotateY(360deg)
    }
}